body {
font-family: Arial;
margin: 0;
}

header {
background: green;
color: white;
text-align: center;
padding: 20px;
}

nav {
background: black;
text-align: center;
}

nav a {
color: white;
padding: 10px;
display: inline-block;
text-decoration: none;
}

nav a:hover {
background: green;
}

.hero {
text-align: center;
padding: 50px;
background: lightgreen;
}

.btn {
background: green;
color: white;
padding: 10px 20px;
text-decoration: none;
}

.teacher-box {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.teacher {
margin: 10px;
text-align: center;
}

.teacher img {
width: 150px;
height: 150px;
border-radius: 50%;
}

.gallery img {
width: 200px;
margin: 10px;
}

footer {
background: black;
color: white;
text-align: center;
padding: 10px;
}

.slider {
width: 100%;
height: 400px;
overflow: hidden;
}

.slides {
display: flex;
width: 400%; /* 4 images */
height: 100%;
animation: slide 12s infinite;
}

.slides img {
width: 100%;
height: 100%;
object-fit: cover;
flex-shrink: 0;
}

/* Animation */
@keyframes slide {
0%   { transform: translateX(0); }
25%  { transform: translateX(-100%); }
50%  { transform: translateX(-200%); }
75%  { transform: translateX(-300%); }
100% { transform: translateX(0); }
}
