body {
font-family: Arial;
margin: 0;
}

header {
background: green;
color: white;
text-align: center;
padding: 20px;
}

nav {
background: black;
text-align: center;
}

nav a {
color: white;
padding: 10px;
display: inline-block;
text-decoration: none;
}

nav a:hover {
background: green;
}

.hero {
text-align: center;
padding: 50px;
background: lightgreen;
}

.btn {
background: green;
color: white;
padding: 10px 20px;
text-decoration: none;
}

.teacher-box {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.teacher {
margin: 10px;
text-align: center;
}

.teacher img {
width: 150px;
height: 150px;
border-radius: 50%;
}

.gallery img {
width: 200px;
margin: 10px;
}

footer {
background: black;
color: white;
text-align: center;
padding: 10px;
}


/* Sections */
section{
background:white;
margin:20px;
padding:30px;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}
